In [ ]:
#%matplotlib inline #put plots here not is separate window

import pandas as pd # to handle data as dataframes
import scipy as sp #import statistics methods and scientific computing
import numpy as np #import numerical computing
from pandas import DataFrame, Series
import matplotlib as mpl
import matplotlib.pyplot as plt #sets up plotting under plt
import seaborn as sns #sets up styles and gives us more plotting options

%matplotlib inline

pd.set_option('display.width',500)
pd.set_option('display.max_columns',100)

#this is just practicing movielens dataset analysis using pandas 
##original content: http://www.gregreda.com/2013/10/26/working-with-pandas-dataframes/

In [ ]:
import subprocess
cur_dir = subprocess.check_output(["pwd"]) #to run bash/shell commands
cur_dir

In [ ]:
csv_filepath = str(cur_dir).strip()+'/mariano-rivera.csv' #this can be a url as well
from_csv = pd.read_csv(csv_filepath,header=None,error_bad_lines=False, sep=',')
from_csv.head()

In [ ]:
#We'll be using the MovieLens dataset in many examples going forward. 
#The dataset contains 100,000 ratings made by 943 users on 1,682 movies

# pass in column names for each CSV
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv(str(cur_dir).strip()+'/ml-100k/u.user', sep='|', names=u_cols,encoding='latin-1')

r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv(str(cur_dir).strip()+'/ml-100k/u.data', sep='\t', names=r_cols, encoding='latin-1')

# the movies file contains columns indicating the movie's genres
# let's only load the first five columns of the file with usecols
m_cols = ['movie_id', 'title', 'release_date', 'video_release_date', 'imdb_url']
movies = pd.read_csv(str(cur_dir).strip()+'/ml-100k/u.item', sep='|', names=m_cols, usecols=range(5), encoding='latin-1')

In [ ]:
users.head()

In [ ]:
ratings.head()
print users.head()

In [ ]:
#Some data inspection
movies.head()
movies.info() #gives how many cells have Null values 
movies.dtypes
users.describe() #gives statistics about means and spread

In [ ]:
users[['age','zip_code']].head() #column selection

In [ ]:
#row selection
print(users[users.age > 25].head(3))
print('\n')

# users aged 40 AND male
print(users[(users.age == 40) & (users.sex == 'M')].head(3))
print('\n')

# users younger than 30 OR female
print(users[(users.sex == 'F') | (users.age < 30)].head(3))

In [ ]:
users.set_index('user_id', inplace=True) #setting index to user_id column, modification is inplace
users.head()

In [ ]:
#once index is set to numerical value we can use iloc to get the row
users.iloc[[1,2,3]] #iloc starts from index 0
#we can select directly by label (i.e. index name/val) using loc method
users.loc[[1,2,3]] #here label is user_id/index value

#u can use df.reset_index(inplace=True) to reset index label

In [ ]:
#SQL JOIN operation
#how : {'left', 'right', 'outer', 'inner'}, default 'inner'
#left: use only keys from left frame (SQL: left outer join)
#right: use only keys from right frame (SQL: right outer join)
#outer: use union of keys from both frames (SQL: full outer join)
#inner: use intersection of keys from both frames (SQL: inner join)

#Fills NA if the key is not present in join

pd.merge(left_frame, right_frame, left_on='left_key', right_on='right_key',how='inner')

In [ ]:
#Suppose if you want to process excel sheet while creating df, you can do by using converters in read_csv function
headers = ['name', 'title', 'department', 'salary']
#converters_dict = {'name': lambda x: x + ' prateek', 'salary': lambda x: float(x.replace('$', ''))}
converters_dict = {'salary': lambda x: float(x.replace('$', ''))}
csv_filepath = str(cur_dir).strip()+'/city-of-chicago-salaries.csv'
chicago = pd.read_csv(csv_filepath, 
                      header=0,
                      names=headers,
                      converters=converters_dict)
#here salary column has '$' in every entry, it will be replaced by '' when df is populated
#chicago.head()

#lets analyze the chicago salary data for each department
#first group it by dept
by_dept = chicago.groupby('department')
by_dept.head()

In [ ]:
#now we have data grouped by department values
#count number of employees in each department
by_dept.count().head()['name'] #num employees in each dept
by_dept.count() #count for each department i.e. number of not NULL records
by_dept.size().tail() # total records for each department
by_dept.sum() #total salary of each department
by_dept.mean() #avg salary of each dept
by_dept.median() #median salary of each dept

In [ ]:
#find top five departments with most distinct titles
by_dept['title'].nunique().sort_values(ascending=False)[:5]

In [ ]:
#find highest paid employee in each department
#first sort salaries in df
chicago.sort_values('salary', ascending=False, inplace=True)
salary_sorted_dept = chicago.groupby('department') #then group by dept
for name,group in salary_sorted_dept:
        print group.iloc[0] #first entry will be highest salary person
        print "\n"

In [ ]:
#print all employees from law department with just name and salary
chicago[chicago.department=='LAW'][['name','salary']]

In [ ]:
#start to analyze movie dataset
#first we merge all datasets to get single df; movies; users; ratings
# we have already merged all separate df to get lens df

#DF is a group of series (columns) each sharing an index/header (col_name)
#print users.head(2)
users['user_id'] = users.index

movie_ratings = pd.merge(users, ratings)
lens = pd.merge(movie_ratings, movies)

lens.head(2)

In [ ]:
#get 25 most rated movies


most_rated = lens.groupby('title')
#print most_rated.title.head()
test=   most_rated.title.count() #count numElem in all groups and return as series
print test.sort_values(ascending=False)[:25]

#OneLine
lens.title.value_counts()[:25] #counts the frequency of each title and sort it; so get top 25 then

In [ ]:
#find top 25 movies which have highest rating_value with atleast 100 ratings
df1 = lens.groupby('title').agg({'rating':[np.size,np.mean]}) # this split and then apply agg function
                                                              #to get some stats for each grp
df1 = df1[df1['rating']['size']>=100]#now get size>=100
df1.sort_values([('rating', 'mean')], ascending=False)[:15] #Additionally, because our columns are now a MultiIndex, 
#we need to pass in a tuple specifying how to sort.

In [ ]:
#find 50 most rated movies
#OneLine
most_50 = lens.title.value_counts()[:50] #counts the frequency of each title and sort it; so get top 25 then

In [ ]:
#by age find out the mean rating given by users; age_group 0-10, 11-20 etc
#use pd.cut function to put data in bins
labels = ['0-9', '10-19', '20-29', '30-39', '40-49', '50-59', '60-69', '70-79'] #create bins
lens['age_group'] = pd.cut(lens.age,range(0,81,10),right=False,labels=labels)
age_grp = lens.groupby('age_group').agg({'rating':[np.mean,np.size]})
age_grp.head()

In [ ]:
#get mean rating for each age group for most_50 rated movies
most_50 = lens.title.value_counts()[:50] #get the series/array for most 50 watched movies; 
#here index will be title names

lens.set_index(lens.title,inplace=True) #get the dataframe for most 50 watched movies from orig df
#by first setting the index for orig df to the index of the series captured

#lens.head()
#most_50.index

df2 = lens.loc[most_50.index] #df for 50 most watched movies

In [ ]:
#now get the agg stats for age label and all
#since age group column is already there we groupby title and age_group
#otherwise create age grp columns
#labels = ['0-9', '10-19', '20-29', '30-39', '40-49', '50-59', '60-69', '70-79'] #create bins
#lens['age_group'] = pd.cut(lens.age,range(0,81,10),right=False,labels=labels)


grouped = df2.groupby([df2.title,'age_group']).agg({'rating':[np.mean]}) #now we have groups for each movie with all age ranges
#grouped.rating.mean()[:15]
grouped.head() # for bigger display vertically takes a lot of lines
grouped.unstack().fillna(0)[:5] #displays in the form of a table

In [ ]:
#Pivot Tables tutorial
pd.pivot_table(lens,index=lens.title) #gives pivot table with index as string and all other numerical data only

In [ ]:
pivoted = pd.pivot_table(lens,index=[lens.title,'sex']) # two index, sex and title, for each title it gives avg stats for female and male

In [ ]:
#if you want statistics for particular things like movie rating u mention that in columns field in pivot
#pivoted = pd.pivot_table(lens,index=[lens.title],values=['rating']) #by def aggfunc is np.mean 

#but you can give a dict here
#pivoted = pd.pivot_table(lens,index=[lens.title,'sex'],values=['rating'],aggfunc={'rating':np.mean})

pivoted = lens.pivot_table(index=['movie_id',lens.title],
                         columns='sex',
                         values='rating',
                         aggfunc={'rating':np.mean}, #[np.mean,len]
                         fill_value=0)
pivoted = lens.pivot_table(index=['movie_id', 'title'],
                           columns=['sex'],
                           values='rating',
                           fill_value=0)
#Since we wanted to see rating broken down by gender, the columns variable allows us to define one or more columns.
#Columns vs. Values
#I think one of the confusing points with the pivot_table is the use of columns and values . 
#Remember, columns are optional - they provide an additional way to segment the actual values you care about. 
#he aggregation functions are applied to the values you list.


pivoted['diff'] = pivoted.M - pivoted.F

In [ ]:
most_50 = lens.groupby('movie_id').size().sort_values(ascending=False)[:50]
disagreements = pivoted[pivoted.movie_id.isin(most_50.index)]['diff'] #check if the index is in top_50 movie and get ['diff'] for them
disagreements.sort_values().plot(kind='barh', figsize=[9, 15]) #sort and plot

plt.title('Male vs. Female Avg. Ratings\n(Difference > 0 = Favored by Men)')
plt.ylabel('Title')
plt.xlabel('Average Rating Difference');

In [ ]:
#analysis is completed